<ul>
  <% @patient.appointments.each do |appt| %>
    <li>
      <%= link_to appt.doctor_name, doctor_path(appt.doctor) %>
      <%= appt.appointment_datetime.strftime('%B %d, %Y') %>
    </li>
  <% end %>
</ul>
