<ul>
  <% @doctor.appointments.each do |appt| %>
    <li>
      <%= link_to appt.patient_name, patient_path(appt.patient) %>
      <%= appt.appointment_datetime.strftime('%B %d, %Y') %>
    </li>
  <% end %>
</ul>
